@charset "UTF-8";

:root {
    --font:'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* CABEÇALHO */
.header {
    padding: 2rem 4%;
    font-family: var(--font);
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.img-logo img {
    max-width: 10rem;
    max-height: 10rem;
}

.img-logo img:hover {
    max-width: 10.5rem;
    max-height: 10.5rem;
    transition: .2s;
}

.menu  ul {
    text-decoration: none;
    font-size: 1.2rem;
    transition: .2s;
    display: flex;
}

.menu  a {
    text-decoration: none;
    color: #00ff84;
}

.menu  a:hover {
    color: #00ff8494;
    font-size: 1.3rem;
    transition: .2s;
}

.menu li {
    list-style: none;
    padding: 0 1rem;
}

/* MAIN - SMARTWATCH */
main {
    background-color: #000;
    color: white;
    padding: 4rem 4%;
    display: flex;
    justify-content: space-between;
}

#smartwatch-foto {
  text-align: center;
  padding: 1.5rem;
  margin-top: 0.5rem;
  font-family: var(--font02);
  font-size: 2em;
  font-weight: bold;
}

#about-n-buy {
    font-family: var(--font01);
    padding: 3rem 5rem;
    text-align: justify;
    font-size: 1.5em;
}

#about-n-buy  p {
    padding: 1rem;
}

#info-categoria-freq::before {
    content: url(../img/frequencia-cardiaca.png);
    padding: 5px;
}

#info-categoria-treino::before {
    content: url(../img/corrida.png);
    padding-right: 5px;
}

#info-categoria-notif::before {
    content: url(../img/sinos.png);
    padding: 5px;
}

#info-categoria-sono::before {
    content: url(../img/cara-dormindo.png);
    padding: 5px;
}

#info-categoria-conect::before {
    content: url(../img/wi-fi.png);
    padding: 5px;
}

#compre {
    padding: 5rem;
    text-align: center;
}

button {
    padding: 35px 70px;
    font-family: var(--font02);
    font-size: 1em;
    background-color: rgba(0, 128, 0, 0.616);
    border-radius: 20px;
    box-shadow: 1px 2px 1px  rgba(0, 0, 0, 0.596);
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.719);
}